[Unit]
# Human readable name of the unit
Description=Gateway Service

[Service]
# Command to execute when the service is started
ExecStart=/opt/gateway/venv/bin/python -m gateway
# Environment="PYTHONPATH=/opt/gateway/
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
User=gateway
# [Install]
# WantedBy=default.target