#!/bin/sh

# tftp -gr {{ imageName }} 192.168.2.1
# wget http://192.168.2.1:8080/images/{{ imageName }}
 # Cannot stream properly pipe as this creates a file on /tmp (therefore biggest image will be size of ram ... consider gunzip as alternative)

# p7zip -d {{ imageName }} 
wget http://192.168.2.1:8080/images/{{ imageName }} -O- | p7zip -d -c > image


# p7zip -d {{ imageName }} -c | dd of=/dev/sdb bs=1M



# dd if={{ imageName }} of=/dev/mmcblk0 conv=fsync bs=4M

# reboot -f