interface={{ vlan_interface }}.{{ vlan_tag }}
dhcp-range=192.168.2.100,192.168.2.199,1h
log-dhcp
enable-tftp
tftp-root=/tftpboot
pxe-service=0,"Raspberry Pi Boot"
{% for result in groups['k8s'] %}
dhcp-host={{ hostvars[result].mac }},{{ hostvars[result].ip }}
{% endfor %}
