#!/bin/bash

echo ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDAv3i3gpmNX1FrwdatPhWaTE4+HFWd8es9MyLEtJq9Y6crYaCtpgObXoOChcwkVO+ryRZgdkF9kNt50+1vkZChBxx4bjkP9MTAlCJjOxKAUXJ8biinXIAGU5RsieTeAuv9+2iAlPbmmhgDG7m2D/fPeBIuPOFMn30nzGyM0Sticz3aCOsLxiXcWuPa6yJVI3BjTO1wUOos2YPZeYU7fRoKq9z3czzAW3Z5RJCkxb/ZpsSEAzEKMIVaq6Ol7jL/OmcgBCc//0BV63z+oH4IijzBWeSupz1ptlMiJQAyPJqdfZZqLwf0zUdWaf9LdY01f8RMpqw2aBD9/cvGKAHB4HF1 ben.greene@DietPi > .ssh/authorized_keys
