{% extends 'base.j2' %}

{% block content %}
  <p>{{ intro }}</p>
  <p>
    To demonstrate a little of the functionality of aiohttp this app implements a very simple message board.
  </p>
  <b>
    <a href="{{ url('ImagesIndex') }}">View Available Images</a>
  </b>
{% endblock %}
